
form{
width:400px;
height: 400px;
margin:40px auto;
padding: 10px;
border: solid 1px;
border-radius: 30px;
background: #222;
}
input.T{
    width:330px;
    height:20px;
    margin: 10PX;
    padding:8px;
    border: solid 0px;
    color: maroon;
    border-radius: 0px;
    font-size: 20px;
}
input.B{
    width:220px;
    height:40px;
    margin:14px;
    padding:5px;
    background-color: maroon;
    border: solid 0px;
    color: antiquewhite;
    border-radius: 20px;
    font-size: 20px;
}