@import url(formulario-interface.css);
@import url(tablas-interface.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 250px;
    padding: 0px 15px;
    background: #800;
    min-height: 100vh;
    overflow-y: auto;
    z-index: 100;
}

nav h2{
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

nav li{
    list-style: none;
    padding-top: 10px;
}

nav li a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

header{
    position: fixed;
    top: 0px;
    left: 250px;
    background: #800;
    height: 40px;
    padding: 10px;
    color: #fff;
    width: calc(100vw - 250px);
    z-index: 100;
}

header p{
    padding:0px 30px;
    text-align: right;
}

main{
    position: relative;
    left: 250px;
    top: 40px;
    width: calc(100vw - 250px);
    height: calc(100vh - 40px);
    background-image: url(../img/fondo2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 50px;
}